In [2]:
import pandas as pd

df = pd.read_csv("../data/city_day.csv")

print(df.shape)
print(df.columns)
df.head()

(29531, 16)
Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [3]:
df = df.drop(columns=["AQI_Bucket"])

In [4]:
df["Date"] = pd.to_datetime(df["Date"])

In [5]:
df.isnull().sum().sort_values(ascending=False)

Xylene     18109
PM10       11140
NH3        10328
Toluene     8041
Benzene     5623
AQI         4681
PM2.5       4598
NOx         4185
O3          4022
SO2         3854
NO2         3585
NO          3582
CO          2059
City           0
Date           0
dtype: int64

In [6]:
df = df.dropna(subset=["AQI"])

In [7]:
features = [
    "PM2.5", "PM10", "NO2", "SO2", "CO", "O3"
]

df = df[["City", "Date", "AQI"] + features]

In [8]:
df[features] = df[features].fillna(df[features].mean())

In [9]:
print(df.shape)
print(df.isnull().sum())
print(df.describe())

(24850, 9)
City     0
Date     0
AQI      0
PM2.5    0
PM10     0
NO2      0
SO2      0
CO       0
O3       0
dtype: int64
                                Date           AQI         PM2.5  \
count                          24850  24850.000000  24850.000000
mean   2018-07-24 18:51:25.714285568    166.463581     67.476613
min              2015-01-01 00:00:00     13.000000      0.040000
25%              2017-08-16 00:00:00     81.000000     29.560000
50%              2018-11-05 00:00:00    118.000000     50.165000
75%              2019-10-11 00:00:00    208.000000     79.507500
max              2020-07-01 00:00:00   2049.000000    914.940000
std                              NaN    140.696585     62.208948

               PM10           NO2           SO2            CO            O3
count  24850.000000  24850.000000  24850.000000  24850.000000  24850.000000
mean     118.454435     28.978391     14.362933      2.345267     34.912885
min        0.030000      0.010000      0.010000      0.000000      0.010000
25%       71.780000     12.090000      5.790000      0.590000     19.640000
50%      118.454435     22.535000      9.430000      0.950000     32.060000
75%      122.957500     37.910000     14.890000      1.530000     45.397500
max      917.080000    362.210000    186.080000    175.810000    257.730000
std       75.660357     24.432532     17.215217      7.011570     21.368849

In [11]:
df.to_csv("../data/clean_city_day_aqi.csv", index=False)